<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>CSA</title>
</head>

<body>
    <th:block layout:fragment="body" th:remove="tag">
        <!-- Start of body content specific to page -->
        <div class="px-5 py-5 mx-auto">
            <h1><strong>Computer Science</strong></h1>
            <p>Luna</p>
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/images/java.png}" alt="Java Development" height="250">
                        <div class="card-body">
                            <h5 class="card-title">Exploring Java</h5>
                            <p class="card-text">
                                <ol>
                                    <li>GitHub: Check out my Java projects on <a href="[https://github.com/lunaiwa]">GitHub</a>.</li>
                                </ol>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/images/spring.png}" alt="Spring Development" height="250">
                        <div class="card-body">
                            <h5 class="card-title">Team</h5>
                            <p class="card-text">
                                <ol>
                                    <li>Rachit</li>
                                    <li>Tanisha</li>
                                    <li>Luna</li>
                                </ol>
                            </p>
                            <a href="[Your Spring Project URL]" class="btn btn-primary">Explore Spring Projects</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/images/pojo.jpeg}" alt="Java Persistence" height="250">
                        <div class="card-body">
                            <h5 class="card-title">Projects</h5>
                            <p class="card-text">
                                <ol>
                                    <li>Learn more and see my blogs on <a href="[https://github.com/lunaiwa]">GitHub</a></li>
                                </ol>
                            </p>
                            <a href="[Your Persistence Project URL]" class="btn btn-primary">Explore Persistence Projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of body content-->
    </th:block>
</body>

